.game-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #333;
  color: #fff;
}
